{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "useTabs": false,
  "quoteProps": "as-needed",
  "endOfLine": "auto"
}
